## [Day 3](https://adventofcode.com/2020/day/3)

For the third day we have a problem that involves moving downward diagonally through a hill with trees. The pattern is repeated from left to right. We're moving at a rate of right three, down 1 and we're asked how manyh trees we'll 'encounter' as we descend.

So I'm already thinking about modular arithmetic here since we have this repeating pattern. I think I'll try to set this up as a data frame, pivot to a longer form, and then use the modular arithmetic to isolate the cells that would be encountered.

In [231]:
import pandas as pd
import numpy as np
forest = open('../inputs/d3.txt').readlines()
forest = [x.replace('\n', '') for x in forest]
forest[:5]

['.##.....#....#....#..#.#...#.##',
 '.###........#.##....#......#..#',
 '#..#..#.....#...#....#.#.......',
 '.........#.................#...',
 '..#.......#.#.......#.......#.#']

To do this I'm going to need to break this up by singlec characters:

In [232]:
def break_string(x):
    return [y for y in x]
forest = [break_string(x) for x in forest]
forest = pd.DataFrame(forest)
#forest.columns = ['X'+str(x) for x in range(len(forest.columns))]
forest.head()

  0  1  2  3  4  5  6  7  8  9   ... 21 22 23 24 25 26 27 28 29 30
0  .  #  #  .  .  .  .  .  #  .  ...  #  .  #  .  .  .  #  .  #  #
1  .  #  #  #  .  .  .  .  .  .  ...  .  .  .  .  .  .  #  .  .  #
2  #  .  .  #  .  .  #  .  .  .  ...  #  .  #  .  .  .  .  .  .  .
3  .  .  .  .  .  .  .  .  .  #  ...  .  .  .  .  .  .  #  .  .  .
4  .  .  #  .  .  .  .  .  .  .  ...  .  .  .  .  .  .  .  #  .  #

[5 rows x 31 columns]

Alright so that was a bit of trouble but we got here. Next step is to pivot longer:

In [233]:
n_cols = len(forest.columns)
move = 3
print(forest.shape)
forest.reset_index(inplace = True, drop = False)
forest

(323, 31)

     index  0  1  2  3  4  5  6  7  8  ... 21 22 23 24 25 26 27 28 29 30
0        0  .  #  #  .  .  .  .  .  #  ...  #  .  #  .  .  .  #  .  #  #
1        1  .  #  #  #  .  .  .  .  .  ...  .  .  .  .  .  .  #  .  .  #
2        2  #  .  .  #  .  .  #  .  .  ...  #  .  #  .  .  .  .  .  .  .
3        3  .  .  .  .  .  .  .  .  .  ...  .  .  .  .  .  .  #  .  .  .
4        4  .  .  #  .  .  .  .  .  .  ...  .  .  .  .  .  .  .  #  .  #
..     ... .. .. .. .. .. .. .. .. ..  ... .. .. .. .. .. .. .. .. .. ..
318    318  .  .  .  #  .  #  .  .  .  ...  .  .  .  #  .  .  .  #  .  .
319    319  .  .  .  #  .  .  .  .  #  ...  .  .  #  .  .  #  #  .  #  .
320    320  .  .  .  .  .  #  .  .  #  ...  .  #  .  .  .  .  .  .  .  .
321    321  .  .  #  .  .  .  .  .  .  ...  .  .  .  .  .  #  .  #  .  #
322    322  .  #  .  .  .  #  #  #  .  ...  .  .  .  .  .  #  .  #  .  .

[323 rows x 32 columns]

In [234]:
forest = pd.melt(forest, id_vars = 'index')
forest = forest.astype({'variable': 'int64'})
forest.columns = ['row', 'column', 'tree']

Of course it's a pair of relatively (and individually) prime numbers. So now it seems like we want the rows where the column is equal to 3*row mod n_cols

In [235]:
forest.query('(row*3) % 31 == column').sort_values('row')

       row  column tree
0        0       0    .
970      1       3    #
1940     2       6    #
2910     3       9    #
3880     4      12    #
...    ...     ...  ...
8070   318      24    #
9040   319      27    #
10010  320      30    .
967    321       2    #
1937   322       5    #

[323 rows x 3 columns]

So that looks correct.

In [236]:
forest.query('(row*3) % 31 == column').query("tree == '#'").shape

(223, 3)

### Part 2

Now we're asked about a few scenario slopes:  
* Right 1, down 1.
* Right 3, down 1. (This is the slope you already checked.)
* Right 5, down 1.
* Right 7, down 1.
* Right 1, down 2.

Then we're to multiply the number of trees together from all these computations.

So I think I could just make copies for these queries.

In [272]:
quer_list = ['(row*'+str(x)+') % 31 == column' for x in [1, 3, 5, 7]]
quer_list.append('(row / 2) % 31 == column')
quer_list

['(row*1) % 31 == column',
 '(row*3) % 31 == column',
 '(row*5) % 31 == column',
 '(row*7) % 31 == column',
 '(row / 2) % 31 == column']

In [270]:
tree_counts = [forest.query(quer).query("tree == '#'").shape[0] for quer in quer_list]
trees = 1
for x in tree_counts:
    trees = trees*x
trees

3517401300

In [273]:
tree_counts

[58, 223, 105, 74, 35]