## [Day 16](https://adventofcode.com/2020/day16)

Alrighty then. The next assignment gives us some instructions for a valid ticket. We're given a set of characteristics and ranges of values they could occupy. The first one just asks us about which values in the below tickets could not occupy *any* of the ticket characteristics. My suspicion is that the second part will ask some thing about the 'your ticket' and what the arrangement of the values is with the seat/row/zone ect.

In [8]:
import pandas as pd
import numpy as np
import re

with open('../inputs/d16.txt') as imp:
    tickets = imp.read().splitlines()
tickets[:30]

['departure location: 42-570 or 579-960',
 'departure station: 45-101 or 118-967',
 'departure platform: 36-374 or 394-958',
 'departure track: 48-212 or 233-950',
 'departure date: 41-481 or 492-953',
 'departure time: 38-266 or 274-955',
 'arrival location: 32-560 or 567-951',
 'arrival station: 44-738 or 762-970',
 'arrival platform: 40-675 or 685-949',
 'arrival track: 25-320 or 344-954',
 'class: 32-806 or 815-959',
 'duration: 38-121 or 129-958',
 'price: 35-692 or 706-957',
 'route: 36-890 or 901-951',
 'row: 35-282 or 288-964',
 'seat: 35-445 or 469-954',
 'train: 45-294 or 317-968',
 'type: 44-240 or 265-960',
 'wagon: 32-816 or 825-971',
 'zone: 30-629 or 637-968',
 '',
 'your ticket:',
 '79,149,97,163,59,151,101,89,173,139,167,61,73,71,137,53,83,157,131,67',
 '',
 'nearby tickets:',
 '945,134,238,221,801,428,519,660,523,537,481,156,845,873,52,172,918,179,188,77',
 '689,374,471,415,317,722,768,556,557,526,812,508,673,350,481,525,915,788,374,655',
 '350,537,762,88,926,71,629,611,356,515,413,947,935,826,770,487,358,716,688,907',
 '767,512,167,728,581,539,819,427,869,709,936,841,275,765,419,275,75,147,790,780',
 '662,791,783,858,920,77,924,627,151,349,131,130,880,191,816,357,675,69,51,756']

So I guess I'll just start by getting a ticket list, my ticket, and the sets of instructions. I am thinking that we will have to re-munge the data later for part 2 but I can't predict how so let's ignore it!

In [35]:
# Let's copy our regular expression syntax from that other one to capture the ticket characteristics
# first. Maybe this will be useful later:
features, lowers, uppers = [], [], []
for i in range(len(tickets)):
    m = re.match(r"(?P<feature>[a-zA-Z]+ ?[a-zA-Z]*): (?P<lower>\d+-\d+) or (?P<upper>\d+-\d+)", tickets[i])
    if m:
        features.append(m.group('feature'))
        lowers.append(m.group('lower'))
        uppers.append(m.group('upper'))
    else:
        break
features

['departure location',
 'departure station',
 'departure platform',
 'departure track',
 'departure date',
 'departure time',
 'arrival location',
 'arrival station',
 'arrival platform',
 'arrival track',
 'class',
 'duration',
 'price',
 'route',
 'row',
 'seat',
 'train',
 'type',
 'wagon',
 'zone']

So I solved a problem kind of like this for a job but it will be good to try a problem like this with python. Again, this absolutely does not need pandas but let's do it anyways!!! What I'm going to do for part 1 is just form a single data set of the bounds, sort it, and then start to merge the rows if they overlap to make a more succinct set of possible values:

In [75]:
bounds = lowers + uppers
lowers2 = [int(x.split('-')[0]) for x in bounds]
uppers2 = [int(x.split('-')[1]) for x in bounds]
bounds_df = pd.DataFrame({'lower':lowers2, 'upper':uppers2})
bounds_df = bounds_df.sort_values(by = ['lower', 'upper']).reset_index(drop = True)
bounds_df.head()

   lower  upper
0     25    320
1     30    629
2     32    560
3     32    806
4     32    816

In [103]:
empty_df = pd.DataFrame({'lower':[], 'upper':[]})
empty_df = empty_df.astype('int')
next_df = empty_df.copy()
result_df = empty_df.copy()

for index, row in bounds_df.iterrows():
    
    print(next_df)
    print('')
    
    # At the last row --> take the last 
    if index == max(bounds_df.index):
        if next_df.shape[0] > 0:
            next_df.upper = bounds_df.loc[i+1,'upper']
        else:
            next_df = bounds_df.loc[[index,]].copy()
        result_df = pd.concat([result_df, next_df], axis = 1)
        
    # No rows --> make a new df
    elif next_df.shape[0] == 0:
        next_df = bounds_df.loc[[index,]].copy()
        
    # Has rows --> consider next row
    else:
        # There is a gap --> append and reset:
        if bounds_df.loc[i,'upper'] < bounds_df.loc[i+1,'lower']:
            result_df = pd.concat([result_df, next_df], axis = 1)
            next_df = empty_df.copy()
        # Otherwise, the next data upper bound is farther yet:
        else:
            next_df.upper = bounds_df.loc[index+1,'upper']

Empty DataFrame
Columns: [lower, upper]
Index: []

   lower  upper
0     25    320

   lower  upper
0     25    560

   lower  upper
0     25    806

   lower  upper
0     25    816

   lower  upper
0     25    282

   lower  upper
0     25    445

   lower  upper
0     25    692

   lower  upper
0     25    374

   lower  upper
0     25    890

   lower  upper
0     25    121

   lower  upper
0     25    266

   lower  upper
0     25    675

   lower  upper
0     25    481

   lower  upper
0     25    570

   lower  upper
0     25    240

   lower  upper
0     25    738

   lower  upper
0     25    101

   lower  upper
0     25    294

   lower  upper
0     25    212

   lower  upper
0     25    967

   lower  upper
0     25    958

   lower  upper
0     25    950

   lower  upper
0     25    960

   lower  upper
0     25    955

   lower  upper
0     25    964

   lower  upper
0     25    968

   lower  upper
0     25    954

   lower  upper
0     25    958

   lower  upper
0     25    954

   lower  upper
0     25    953

   lower  upper
0     25    951

   lower  upper
0     25    960

   lower  upper
0     25    968

   lower  upper
0     25    949

   lower  upper
0     25    957

   lower  upper
0     25    970

   lower  upper
0     25    959

   lower  upper
0     25    971

   lower  upper
0     25    951

In [102]:
bounds_df

    lower  upper
0      25    320
1      30    629
2      32    560
3      32    806
4      32    816
5      35    282
6      35    445
7      35    692
8      36    374
9      36    890
10     38    121
11     38    266
12     40    675
13     41    481
14     42    570
15     44    240
16     44    738
17     45    101
18     45    294
19     48    212
20    118    967
21    129    958
22    233    950
23    265    960
24    274    955
25    288    964
26    317    968
27    344    954
28    394    958
29    469    954
30    492    953
31    567    951
32    579    960
33    637    968
34    685    949
35    706    957
36    762    970
37    815    959
38    825    971
39    901    951

### Part 2